{% extends "base.html" %}
{% block content %}
    
    <div class="container">

        <!-- game cards -->
        <div class="row">
            <h2 class="center-align mob-title green-text text-darken-2">All Games</h2>
            <a href="{{ url_for('add_game') }}" class="btn-large add-btn white-text green darken-2">Add Game</a>
            <hr>
            {% for game in games %}
                <div class="col s12 m4">
                    <div class="card game-card">
                        <div class="card-image">
                            <a href=""><img src="{{ game.img_url }}" title="Image of game box" /></a>
                            <span class="card-title" id="title-pad">{{ game.name.capitalize() }}</span>
                        </div>
                        <div class="card-content" id="game-content">
                            <p>{{ game.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    
    </div>

{% endblock %}