{% extends "base.html" %}
{% block content %}
    
    <div class="container">
        <!-- News Card -->
        <h2 class="center-align">Latest Boardgame News</h2>
        <div class="card large">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://i.imgur.com/I8CKUMX.png" title="source: imgur.com">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">News <i
                     class="far fa-newspaper"></i></span>
                <p><a href="#">Go to News Feed</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Rumours of Galaxy Trucker Sequel! <i
                     class="far fa-times-circle"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div> 
          <div class="row">
              <div class="col s12 m4">
                  <div class="card">
                      <div class="card-image">
                          <a href="https://imgur.com/I8CKUMX"><img src="https://i.imgur.com/I8CKUMX.png" title="source: imgur.com" /></a>
                          <span class="card-title">Card Title</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                             class="fas fa-plus-circle"></i></a>
                      </div>
                      <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                              because I require little markup to use effectively.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4">
                  <div class="card">
                      <div class="card-image">
                          <a href="https://imgur.com/I8CKUMX"><img src="https://i.imgur.com/I8CKUMX.png" title="source: imgur.com" /></a>
                          <span class="card-title">Card Title</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                             class="fas fa-plus-circle"></i></a>
                      </div>
                      <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                              because I require little markup to use effectively.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4">
                  <div class="card">
                      <div class="card-image">
                          <a href="https://imgur.com/I8CKUMX"><img src="https://i.imgur.com/I8CKUMX.png" title="source: imgur.com" /></a>
                          <span class="card-title">Card Title</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                             class="fas fa-plus-circle"></i></a>
                      </div>
                      <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                              because I require little markup to use effectively.</p>
                      </div>
                  </div>
              </div>
          </div>
    </div>



{% endblock %}